* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: monospace;
    background-color: #fbb041;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 140px;
}

h1 {
    margin-top: 20px;
    font-size: clamp(50px, 6vw, 100px);
    color: #51a3fa;
}

.container {
    background-color: #f39303;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.greeting {
    font-size: clamp(25px, 2.5vw, 50px);
    font-weight: 900;
}

.clock {
    font-size: clamp(45px, 5.5vw, 80px);
    filter: drop-shadow(0 0 10px #00ffcc);
}

.date {
    font-size: clamp(20px, 2vw, 50px);
    font-weight: 700;
}

.format-toggle-btn {
    height: 40px;
    padding: 0 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.format-toggle-btn:hover {
    box-shadow: 0 0 10px white;
    background-color: #E5E4E4;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 450px) {
    h1 {
        margin-top: 40px;
        font-size: 45px;
    }

    .clock {
        font-size: 45px;
    }
    
    .date {
        font-size: 18px;
    }

    .format-toggle-btn {
        padding: 0 12px;
        font-size: 0.85rem;
    }
}

