:root {
    --black : #191919;
    --white: #E0E0E0;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

h1 {
    font-size: 3rem;
}

.icons-container {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.icon {
    height: 125px;
    width: 125px;
    border: 2px solid var(--white);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.icon:hover {
    box-shadow: 0 0 8px var(--white);
    transform: scale(1.04);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.icon:hover img {
    filter: drop-shadow(0 0 8px #e3a004);
    transition: filter 0.3s ease;
}

.icon img {
    height: 50%;
    width: 50%;
}

.result-display {
    margin-top: 50px;
    font-size: 1.7rem;
    font-weight: 700;
}

.moves-display {
    margin-top: 40px;
    font-weight: 700;
    display: flex;
    column-gap: 30px;
    position: relative;
    left: 10px;
}

.player-move, 
.computer-move {
    display: grid;
    row-gap: 10px;
}

.moves-display img {
    height: 50px;
    width: 50px;
    justify-self: center;
}


.score-display {
    margin-top: 40px;
    color: var(--white);
    font-weight: 800;
    font-size: 1.4rem;
}

.score-reset-btn {
    color: var(--black);
    background-color: var(--white);
    margin-top: 15px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: 10px 18px;
    cursor: pointer;
}

.score-reset-btn:hover {
    box-shadow: 0 0 9px var(--white);
    transition: box-shadow 0.3s ease;
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.2rem;
    }

    .icons-container {
        gap: 15px;
    }

    .icon {
        height: 100px;
        width: 100px;
    }

    .result-display {
        font-size: 1.5rem;
    }

    .player-move, 
    .computer-move {
        font-size: 0.8rem;
    }

    .moves-display img {
        height: 40px;
        width: 40px;
    }

    .score-display {
        font-size: 1.3rem;
    }
}

@media (max-width: 380px) {
    .icon {
        height: 95px;
        width: 95px;
    }
}   


