* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141a24;
}

.parent {
    height: 700px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculation-display {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 60px;
    width: auto;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
}

button {
    height: 70px;
    width: 70px;
    margin: 7px;
    border-radius: 50%;
    border: none;
    font-size: 1.2rem;
    font-weight: 800;
    background-color: #4d4d5b;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #373741;
}

.sign {
    background-color: #765c5c;
}

.sign:hover {
    background-color: #534141;
}

@media (max-width: 400px) {
    button {
        height: 65px;
        width: 65px;
    }

    .parent {
        width: 100%;
    }
}

